
.box-size{
   width: 200px;
   height: 200px;
}

.blue{
   background-color: blue;
}

.black{
    background-color: black;
 }

 .red{
    
    background-color: red;
 }

 .green{
    background-color: green;
 }
 

 #flex-container{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    flex-direction: row-reverse;
    max-width: 1200;
    
 }